@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<header>
    <div class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">No tienes los permisos necesarios.</p>
    </div>
</header>
